<% layout('/layouts/boilerplate') %>
<body>
    <div class="bdy">
        <form action="/papers/<%=listing._id%>/fetchmarks/" method="post" class="studentanswersheetform">
            <h3>Please confirm that you have uploded correct data to Fetch Marks</h3>
            <button class="btn btn-dark btn-submit" type="submit">Confirm</button>
        </form>
    </div>

</body>