
.body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container{
      flex: 1;
  }
  
  /* Navbar  */
  .navbar{
      height: 5rem;
      background-color: white;
  }
  
  .fa-solid{
      font-size: 2rem;
  }
  
  .nav-link{
      color: #222222 !important;
  }
  
  /* Footer  */
  
  .f-info-links a{
      text-decoration: none;
      color: #222222;
  }
  .f-info-links a:hover{
      text-decoration: underline;
  }
  .f-info-links , .f-info-socials , .f-info-brand{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .f-info-socials i{
      margin-right: 1rem;
      font-size: 1.2rem;
  }
  
  .f-info{
      display: flex;
      height: 8rem;
      background-color: #ebebeb;
      flex-wrap: wrap;
      justify-content: center;
      align-items: space-evenly;
      text-align: center;
  }
  
  /* Cards */
  
  .card{
      border: none !important;
      margin-bottom: 2rem;
  }
  
  .card-img-top{
      border-radius: 1rem !important;
      width: 100% !important;
      object-fit: cover !important;
  }
  
  .card-body{
      padding: 0;
  }
  
  .card-text p{
      font-weight: 400 !important;
  }
  
  .listing-link{
      text-decoration: none;
  }
  
  /* Card Decoration */
  
  .index-card{
      width: 20vw;
      height: 30vh;
      border: 1px solid green;
      border-radius: 8px;
      margin: 2vh 2vw 2vh 2vw;
      /* margin: 2vw 2vh 2vw 2vh; */
      padding: 2vh 2vw 2vh 2vw;
  }
  
  .index-card:hover{
      background-color: whitesmoke;
  }
  
  
  /* Show Page  */
  
  .table-class{
      width: 60vw;
  }
  
  /* New-Page  */
  .add-btn{
      background-color: #fe424d;
      border: none !important;
  }
  
  
  /* Edit-Page  */
  .edit-btn{
      background-color: #fe424d !important;
      border: none !important;
  }
  
  
  
  
  
  /* studentanswersheet */
  
  
  .bdy {
      margin: 3vh 4vw;
      padding: 2vh 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  .studentanswersheet-h3 {
      margin: 2vh 0;
  }
  
  .studentanswersheetform {
      border: 2px solid #000;
      border-radius: 10px;
      width: 60%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  input[type="file"] {
      display: none;
  }
  
  .custom-file-upload {
      display: inline-block;
      padding: 10px 20px;
      background-color: #ff5050;
      color: white;
      border: 2px solid red;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
  }
  
  .custom-file-upload:hover {
      background-color: rgb(255, 169, 169);
  }
  
  .file-name {
      margin-top: 10px;
      font-size: 1rem;
      color: #333;
  }
  
  .btn-submit {
      margin-top: 20px;
  }
  
  /* Edit next  */
  
  .cg{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .change{
      width: 10vw;
      height: 8vh;
      background-color: #fe424d;
  }